<!-- <div class="container overflow-hidden">
    <div class="row gy-5">

        <h2>Educacion</h2>

        <table>
            <tbody>
                <tr>
                    <td>NOMBRE DE LA EDUCACION</td>
                    <td>DESCRIPCION DE LA EDUCACION</td>
                    <td>EDITAR</td>
                    <td>BORRAR</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->

<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col-6">
            <br />
            <div>
                <h2>Educacion</h2>
            </div>
            <br />
            <div class="p-3 border bg-light" *ngFor="let Educacion of educacion">
                {{ Educacion.title }}
            </div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light info" *ngFor="let Educacion of educacion">
                {{ Educacion.descriptionEducation }}
                <div *ngIf="storageService.getLoggedStatus()">
                    <button class="btn btn-primary bi bi-pencil-fill"></button>
                    <button class="bot btn btn-danger bi bi-x-lg"></button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Certificados</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Descripcion</div>
        </div>
    </div>
</div>