<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col-6">
            <br>
            <div>
                <h2>Educacion</h2>
            </div>
            <br>
            <div class="p-3 border bg-light">Titulo Secundario</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light info">Hay que ver que poner...</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Certificados</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Descripcion</div>
        </div>
    </div>
</div>