<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col-6">
            <br />
            <div class="title-c infPers">
                <h2>Educacion</h2>
                <button *ngIf="storageService.getLoggedStatus()" class="btn btn-primary bi bi-pencil-fill" (click)="EditarButtonClicked()"></button>
                <button *ngIf="storageService.getLoggedStatus()" class="bot btn btn-danger bi bi-x-lg" (click)="BorrarButtonClicked()"></button>
            </div>
            <br />
            <div class="p-3 border bg-light" *ngFor="let Educacion of educacion">
                Titulo: {{ Educacion.title }}
            </div>
            <div class="p-3 border bg-light info" *ngFor="let Educacion of educacion">
                Descripcion: {{ Educacion.descriptionEducation}}
            </div>
            <div class="p-3 border bg-light info" *ngFor="let Educacion of educacion">
                Duracion: {{ Educacion.duration}}
            </div>

        </div>
        <!-- <div class="col-6">
            <div class="p-3 border bg-light info" *ngFor="let Educacion of educacion">
                {{ Educacion.descriptionEducation }}
                <div *ngIf="storageService.getLoggedStatus()">
                    <button class="btn btn-primary bi bi-pencil-fill"></button>
                    <button class="bot btn btn-danger bi bi-x-lg"></button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Certificados</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Descripcion</div>
        </div> -->
    </div>
</div>