<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col-6">
            <br>
            <div>
                <h2>Experiencia</h2>
            </div>
            <br>
            <div class="p-3 border bg-light">Logo de la empresa</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light descrip">Descripcion</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Logo</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Descripcion</div>
        </div>
    </div>
</div>