<div class="container">
    <div class="row justify-content-between mt">
        <div class="col-2">
            <div class="row align-items-end">
                <div class="col">
                    <div class="arg-programa"></div>

                </div>

            </div>
        </div>

        <div class="col">

            <div (click)="onFacebookIconClicked()" class="facebook-icon"></div>

        </div>

        <div class="col-4 mt-2">
            <button *ngIf="!storageService.getLoggedStatus()" type="button" class="btn btn-dark" (click)="loginButtonClicked()">
        Login
      </button>
            <button *ngIf="storageService.getLoggedStatus()" type="button" class="btn btn-dark" (click)="logoutButtonClicked()">
        Logout
      </button>
        </div>
    </div>
</div>