.banner {
    margin: 10px;
    width: 100%;
    height: 470px;
    background-size: cover;
    background-image: url('../../../assets/images/argentina-programa-banner.jpg');
}

.usuario-icon {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin-top: 416px;
    background-size: cover;
    background-image: url('../../../assets//images/icons/usuario-de-perfil.png');
}


/* ../../../../assets/images/icons/usuario-de-perfil.png */